=begin
#ORCID Member

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: Latest

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.13

=end

require 'uri'

module SwaggerClient
  class DevelopmentMemberAPIV30Rc2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a notification
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [NotificationPermissionV30Rc2] :body 
    # @return [String]
    def add_permission_notificationv3_rc2(orcid, opts = {})
      data, _status_code, _headers = add_permission_notificationv3_rc2_with_http_info(orcid, opts)
      data
    end

    # Add a notification
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [NotificationPermissionV30Rc2] :body 
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def add_permission_notificationv3_rc2_with_http_info(orcid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.add_permission_notificationv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.add_permission_notificationv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/notification-permission'.sub('{' + 'orcid' + '}', orcid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_two_legs']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#add_permission_notificationv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add an address
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [AddressV30Rc2] :body 
    # @return [nil]
    def create_addressv3_rc2(orcid, opts = {})
      create_addressv3_rc2_with_http_info(orcid, opts)
      nil
    end

    # Add an address
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [AddressV30Rc2] :body 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def create_addressv3_rc2_with_http_info(orcid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.create_addressv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.create_addressv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/address'.sub('{' + 'orcid' + '}', orcid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#create_addressv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create an Distinction
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [DistinctionV30Rc2] :body 
    # @return [String]
    def create_distinctionv3_rc2(orcid, opts = {})
      data, _status_code, _headers = create_distinctionv3_rc2_with_http_info(orcid, opts)
      data
    end

    # Create an Distinction
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [DistinctionV30Rc2] :body 
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def create_distinctionv3_rc2_with_http_info(orcid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.create_distinctionv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.create_distinctionv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/distinction'.sub('{' + 'orcid' + '}', orcid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#create_distinctionv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create an Education
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [EducationV30Rc2] :body 
    # @return [String]
    def create_educationv3_rc2(orcid, opts = {})
      data, _status_code, _headers = create_educationv3_rc2_with_http_info(orcid, opts)
      data
    end

    # Create an Education
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [EducationV30Rc2] :body 
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def create_educationv3_rc2_with_http_info(orcid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.create_educationv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.create_educationv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/education'.sub('{' + 'orcid' + '}', orcid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#create_educationv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create an Employment
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [EmploymentV30Rc2] :body 
    # @return [String]
    def create_employmentv3_rc2(orcid, opts = {})
      data, _status_code, _headers = create_employmentv3_rc2_with_http_info(orcid, opts)
      data
    end

    # Create an Employment
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [EmploymentV30Rc2] :body 
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def create_employmentv3_rc2_with_http_info(orcid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.create_employmentv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.create_employmentv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/employment'.sub('{' + 'orcid' + '}', orcid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#create_employmentv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add external identifier
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [PersonExternalIdentifierV30Rc2] :body 
    # @return [nil]
    def create_external_identifierv3_rc2(orcid, opts = {})
      create_external_identifierv3_rc2_with_http_info(orcid, opts)
      nil
    end

    # Add external identifier
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [PersonExternalIdentifierV30Rc2] :body 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def create_external_identifierv3_rc2_with_http_info(orcid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.create_external_identifierv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.create_external_identifierv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/external-identifiers'.sub('{' + 'orcid' + '}', orcid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#create_external_identifierv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a Funding
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [FundingV30Rc2] :body 
    # @return [String]
    def create_fundingv3_rc2(orcid, opts = {})
      data, _status_code, _headers = create_fundingv3_rc2_with_http_info(orcid, opts)
      data
    end

    # Create a Funding
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [FundingV30Rc2] :body 
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def create_fundingv3_rc2_with_http_info(orcid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.create_fundingv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.create_fundingv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/funding'.sub('{' + 'orcid' + '}', orcid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#create_fundingv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a Group
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [GroupIdRecord] :body 
    # @return [nil]
    def create_group_id_recordv3_rc2(opts = {})
      create_group_id_recordv3_rc2_with_http_info(opts)
      nil
    end

    # Create a Group
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [GroupIdRecord] :body 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def create_group_id_recordv3_rc2_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.create_group_id_recordv3_rc2 ...'
      end
      # resource path
      local_var_path = '/v3.0_rc2/group-id-record'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_two_legs']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#create_group_id_recordv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create an InvitedPosition
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [InvitedPositionV30Rc2] :body 
    # @return [String]
    def create_invited_positionv3_rc2(orcid, opts = {})
      data, _status_code, _headers = create_invited_positionv3_rc2_with_http_info(orcid, opts)
      data
    end

    # Create an InvitedPosition
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [InvitedPositionV30Rc2] :body 
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def create_invited_positionv3_rc2_with_http_info(orcid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.create_invited_positionv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.create_invited_positionv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/invited-position'.sub('{' + 'orcid' + '}', orcid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#create_invited_positionv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add keyword
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [KeywordV30Rc2] :body 
    # @return [nil]
    def create_keywordv3_rc2(orcid, opts = {})
      create_keywordv3_rc2_with_http_info(orcid, opts)
      nil
    end

    # Add keyword
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [KeywordV30Rc2] :body 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def create_keywordv3_rc2_with_http_info(orcid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.create_keywordv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.create_keywordv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/keywords'.sub('{' + 'orcid' + '}', orcid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#create_keywordv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create an Membership
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [MembershipV30Rc2] :body 
    # @return [String]
    def create_membershipv3_rc2(orcid, opts = {})
      data, _status_code, _headers = create_membershipv3_rc2_with_http_info(orcid, opts)
      data
    end

    # Create an Membership
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [MembershipV30Rc2] :body 
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def create_membershipv3_rc2_with_http_info(orcid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.create_membershipv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.create_membershipv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/membership'.sub('{' + 'orcid' + '}', orcid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#create_membershipv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add other name
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [OtherNameV30Rc2] :body 
    # @return [nil]
    def create_other_namev3_rc2(orcid, opts = {})
      create_other_namev3_rc2_with_http_info(orcid, opts)
      nil
    end

    # Add other name
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [OtherNameV30Rc2] :body 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def create_other_namev3_rc2_with_http_info(orcid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.create_other_namev3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.create_other_namev3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/other-names'.sub('{' + 'orcid' + '}', orcid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#create_other_namev3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a Peer Review
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [PeerReviewV30Rc2] :body 
    # @return [String]
    def create_peer_reviewv3_rc2(orcid, opts = {})
      data, _status_code, _headers = create_peer_reviewv3_rc2_with_http_info(orcid, opts)
      data
    end

    # Create a Peer Review
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [PeerReviewV30Rc2] :body 
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def create_peer_reviewv3_rc2_with_http_info(orcid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.create_peer_reviewv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.create_peer_reviewv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/peer-review'.sub('{' + 'orcid' + '}', orcid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#create_peer_reviewv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create an Qualification
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [QualificationV30Rc2] :body 
    # @return [String]
    def create_qualificationv3_rc2(orcid, opts = {})
      data, _status_code, _headers = create_qualificationv3_rc2_with_http_info(orcid, opts)
      data
    end

    # Create an Qualification
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [QualificationV30Rc2] :body 
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def create_qualificationv3_rc2_with_http_info(orcid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.create_qualificationv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.create_qualificationv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/qualification'.sub('{' + 'orcid' + '}', orcid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#create_qualificationv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a Research Resource
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [ResearchResourceV30Rc2] :body 
    # @return [String]
    def create_research_resourcev3_rc2(orcid, opts = {})
      data, _status_code, _headers = create_research_resourcev3_rc2_with_http_info(orcid, opts)
      data
    end

    # Create a Research Resource
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [ResearchResourceV30Rc2] :body 
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def create_research_resourcev3_rc2_with_http_info(orcid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.create_research_resourcev3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.create_research_resourcev3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/research-resource'.sub('{' + 'orcid' + '}', orcid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#create_research_resourcev3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add a new researcher url for an ORCID ID
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [ResearcherUrlV30Rc2] :body 
    # @return [nil]
    def create_researcher_urlv3_rc2(orcid, opts = {})
      create_researcher_urlv3_rc2_with_http_info(orcid, opts)
      nil
    end

    # Add a new researcher url for an ORCID ID
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [ResearcherUrlV30Rc2] :body 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def create_researcher_urlv3_rc2_with_http_info(orcid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.create_researcher_urlv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.create_researcher_urlv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/researcher-urls'.sub('{' + 'orcid' + '}', orcid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#create_researcher_urlv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create an Service
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [ServiceV30Rc2] :body 
    # @return [String]
    def create_servicev3_rc2(orcid, opts = {})
      data, _status_code, _headers = create_servicev3_rc2_with_http_info(orcid, opts)
      data
    end

    # Create an Service
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [ServiceV30Rc2] :body 
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def create_servicev3_rc2_with_http_info(orcid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.create_servicev3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.create_servicev3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/service'.sub('{' + 'orcid' + '}', orcid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#create_servicev3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a list of Works
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [WorkBulkV30Rc2] :body 
    # @return [String]
    def create_worksv3_rc2(orcid, opts = {})
      data, _status_code, _headers = create_worksv3_rc2_with_http_info(orcid, opts)
      data
    end

    # Create a list of Works
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [WorkBulkV30Rc2] :body 
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def create_worksv3_rc2_with_http_info(orcid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.create_worksv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.create_worksv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/works'.sub('{' + 'orcid' + '}', orcid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#create_worksv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a Work
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [WorkV30Rc2] :body 
    # @return [String]
    def create_workv3_rc2(orcid, opts = {})
      data, _status_code, _headers = create_workv3_rc2_with_http_info(orcid, opts)
      data
    end

    # Create a Work
    # 
    # @param orcid 
    # @param [Hash] opts the optional parameters
    # @option opts [WorkV30Rc2] :body 
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def create_workv3_rc2_with_http_info(orcid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.create_workv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.create_workv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/work'.sub('{' + 'orcid' + '}', orcid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#create_workv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an address
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_addressv3_rc2(orcid, put_code, opts = {})
      delete_addressv3_rc2_with_http_info(orcid, put_code, opts)
      nil
    end

    # Delete an address
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_addressv3_rc2_with_http_info(orcid, put_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.delete_addressv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.delete_addressv3_rc2"
      end
      # verify the required parameter 'put_code' is set
      if @api_client.config.client_side_validation && put_code.nil?
        fail ArgumentError, "Missing the required parameter 'put_code' when calling DevelopmentMemberAPIV30Rc2Api.delete_addressv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/address/{putCode}'.sub('{' + 'orcid' + '}', orcid.to_s).sub('{' + 'putCode' + '}', put_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#delete_addressv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an Distinction
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_distinctionv3_rc2(orcid, put_code, opts = {})
      delete_distinctionv3_rc2_with_http_info(orcid, put_code, opts)
      nil
    end

    # Delete an Distinction
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_distinctionv3_rc2_with_http_info(orcid, put_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.delete_distinctionv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.delete_distinctionv3_rc2"
      end
      # verify the required parameter 'put_code' is set
      if @api_client.config.client_side_validation && put_code.nil?
        fail ArgumentError, "Missing the required parameter 'put_code' when calling DevelopmentMemberAPIV30Rc2Api.delete_distinctionv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/distinction/{putCode}'.sub('{' + 'orcid' + '}', orcid.to_s).sub('{' + 'putCode' + '}', put_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#delete_distinctionv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an Education
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_educationv3_rc2(orcid, put_code, opts = {})
      delete_educationv3_rc2_with_http_info(orcid, put_code, opts)
      nil
    end

    # Delete an Education
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_educationv3_rc2_with_http_info(orcid, put_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.delete_educationv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.delete_educationv3_rc2"
      end
      # verify the required parameter 'put_code' is set
      if @api_client.config.client_side_validation && put_code.nil?
        fail ArgumentError, "Missing the required parameter 'put_code' when calling DevelopmentMemberAPIV30Rc2Api.delete_educationv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/education/{putCode}'.sub('{' + 'orcid' + '}', orcid.to_s).sub('{' + 'putCode' + '}', put_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#delete_educationv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an Employment
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_employmentv3_rc2(orcid, put_code, opts = {})
      delete_employmentv3_rc2_with_http_info(orcid, put_code, opts)
      nil
    end

    # Delete an Employment
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_employmentv3_rc2_with_http_info(orcid, put_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.delete_employmentv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.delete_employmentv3_rc2"
      end
      # verify the required parameter 'put_code' is set
      if @api_client.config.client_side_validation && put_code.nil?
        fail ArgumentError, "Missing the required parameter 'put_code' when calling DevelopmentMemberAPIV30Rc2Api.delete_employmentv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/employment/{putCode}'.sub('{' + 'orcid' + '}', orcid.to_s).sub('{' + 'putCode' + '}', put_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#delete_employmentv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete external identifier
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_external_identifierv3_rc2(orcid, put_code, opts = {})
      delete_external_identifierv3_rc2_with_http_info(orcid, put_code, opts)
      nil
    end

    # Delete external identifier
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_external_identifierv3_rc2_with_http_info(orcid, put_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.delete_external_identifierv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.delete_external_identifierv3_rc2"
      end
      # verify the required parameter 'put_code' is set
      if @api_client.config.client_side_validation && put_code.nil?
        fail ArgumentError, "Missing the required parameter 'put_code' when calling DevelopmentMemberAPIV30Rc2Api.delete_external_identifierv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/external-identifiers/{putCode}'.sub('{' + 'orcid' + '}', orcid.to_s).sub('{' + 'putCode' + '}', put_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#delete_external_identifierv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a Funding
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_fundingv3_rc2(orcid, put_code, opts = {})
      delete_fundingv3_rc2_with_http_info(orcid, put_code, opts)
      nil
    end

    # Delete a Funding
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_fundingv3_rc2_with_http_info(orcid, put_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.delete_fundingv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.delete_fundingv3_rc2"
      end
      # verify the required parameter 'put_code' is set
      if @api_client.config.client_side_validation && put_code.nil?
        fail ArgumentError, "Missing the required parameter 'put_code' when calling DevelopmentMemberAPIV30Rc2Api.delete_fundingv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/funding/{putCode}'.sub('{' + 'orcid' + '}', orcid.to_s).sub('{' + 'putCode' + '}', put_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#delete_fundingv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a Group
    # 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group_id_recordv3_rc2(put_code, opts = {})
      delete_group_id_recordv3_rc2_with_http_info(put_code, opts)
      nil
    end

    # Delete a Group
    # 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_group_id_recordv3_rc2_with_http_info(put_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.delete_group_id_recordv3_rc2 ...'
      end
      # verify the required parameter 'put_code' is set
      if @api_client.config.client_side_validation && put_code.nil?
        fail ArgumentError, "Missing the required parameter 'put_code' when calling DevelopmentMemberAPIV30Rc2Api.delete_group_id_recordv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/group-id-record/{putCode}'.sub('{' + 'putCode' + '}', put_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['orcid_two_legs']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#delete_group_id_recordv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an InvitedPosition
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_invited_positionv3_rc2(orcid, put_code, opts = {})
      delete_invited_positionv3_rc2_with_http_info(orcid, put_code, opts)
      nil
    end

    # Delete an InvitedPosition
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_invited_positionv3_rc2_with_http_info(orcid, put_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.delete_invited_positionv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.delete_invited_positionv3_rc2"
      end
      # verify the required parameter 'put_code' is set
      if @api_client.config.client_side_validation && put_code.nil?
        fail ArgumentError, "Missing the required parameter 'put_code' when calling DevelopmentMemberAPIV30Rc2Api.delete_invited_positionv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/invited-position/{putCode}'.sub('{' + 'orcid' + '}', orcid.to_s).sub('{' + 'putCode' + '}', put_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#delete_invited_positionv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete keyword
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_keywordv3_rc2(orcid, put_code, opts = {})
      delete_keywordv3_rc2_with_http_info(orcid, put_code, opts)
      nil
    end

    # Delete keyword
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_keywordv3_rc2_with_http_info(orcid, put_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.delete_keywordv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.delete_keywordv3_rc2"
      end
      # verify the required parameter 'put_code' is set
      if @api_client.config.client_side_validation && put_code.nil?
        fail ArgumentError, "Missing the required parameter 'put_code' when calling DevelopmentMemberAPIV30Rc2Api.delete_keywordv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/keywords/{putCode}'.sub('{' + 'orcid' + '}', orcid.to_s).sub('{' + 'putCode' + '}', put_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#delete_keywordv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an Membership
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_membershipv3_rc2(orcid, put_code, opts = {})
      delete_membershipv3_rc2_with_http_info(orcid, put_code, opts)
      nil
    end

    # Delete an Membership
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_membershipv3_rc2_with_http_info(orcid, put_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.delete_membershipv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.delete_membershipv3_rc2"
      end
      # verify the required parameter 'put_code' is set
      if @api_client.config.client_side_validation && put_code.nil?
        fail ArgumentError, "Missing the required parameter 'put_code' when calling DevelopmentMemberAPIV30Rc2Api.delete_membershipv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/membership/{putCode}'.sub('{' + 'orcid' + '}', orcid.to_s).sub('{' + 'putCode' + '}', put_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#delete_membershipv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete other name
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_other_namev3_rc2(orcid, put_code, opts = {})
      delete_other_namev3_rc2_with_http_info(orcid, put_code, opts)
      nil
    end

    # Delete other name
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_other_namev3_rc2_with_http_info(orcid, put_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.delete_other_namev3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.delete_other_namev3_rc2"
      end
      # verify the required parameter 'put_code' is set
      if @api_client.config.client_side_validation && put_code.nil?
        fail ArgumentError, "Missing the required parameter 'put_code' when calling DevelopmentMemberAPIV30Rc2Api.delete_other_namev3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/other-names/{putCode}'.sub('{' + 'orcid' + '}', orcid.to_s).sub('{' + 'putCode' + '}', put_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#delete_other_namev3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a Peer Review
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_peer_reviewv3_rc2(orcid, put_code, opts = {})
      delete_peer_reviewv3_rc2_with_http_info(orcid, put_code, opts)
      nil
    end

    # Delete a Peer Review
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_peer_reviewv3_rc2_with_http_info(orcid, put_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.delete_peer_reviewv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.delete_peer_reviewv3_rc2"
      end
      # verify the required parameter 'put_code' is set
      if @api_client.config.client_side_validation && put_code.nil?
        fail ArgumentError, "Missing the required parameter 'put_code' when calling DevelopmentMemberAPIV30Rc2Api.delete_peer_reviewv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/peer-review/{putCode}'.sub('{' + 'orcid' + '}', orcid.to_s).sub('{' + 'putCode' + '}', put_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#delete_peer_reviewv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an Qualification
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_qualificationv3_rc2(orcid, put_code, opts = {})
      delete_qualificationv3_rc2_with_http_info(orcid, put_code, opts)
      nil
    end

    # Delete an Qualification
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_qualificationv3_rc2_with_http_info(orcid, put_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.delete_qualificationv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.delete_qualificationv3_rc2"
      end
      # verify the required parameter 'put_code' is set
      if @api_client.config.client_side_validation && put_code.nil?
        fail ArgumentError, "Missing the required parameter 'put_code' when calling DevelopmentMemberAPIV30Rc2Api.delete_qualificationv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/qualification/{putCode}'.sub('{' + 'orcid' + '}', orcid.to_s).sub('{' + 'putCode' + '}', put_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#delete_qualificationv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an Research Resource
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_research_resourcev3_rc2(orcid, put_code, opts = {})
      delete_research_resourcev3_rc2_with_http_info(orcid, put_code, opts)
      nil
    end

    # Delete an Research Resource
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_research_resourcev3_rc2_with_http_info(orcid, put_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.delete_research_resourcev3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.delete_research_resourcev3_rc2"
      end
      # verify the required parameter 'put_code' is set
      if @api_client.config.client_side_validation && put_code.nil?
        fail ArgumentError, "Missing the required parameter 'put_code' when calling DevelopmentMemberAPIV30Rc2Api.delete_research_resourcev3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/research-resource/{putCode}'.sub('{' + 'orcid' + '}', orcid.to_s).sub('{' + 'putCode' + '}', put_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#delete_research_resourcev3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete one researcher url from an ORCID ID
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_researcher_urlv3_rc2(orcid, put_code, opts = {})
      delete_researcher_urlv3_rc2_with_http_info(orcid, put_code, opts)
      nil
    end

    # Delete one researcher url from an ORCID ID
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_researcher_urlv3_rc2_with_http_info(orcid, put_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.delete_researcher_urlv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.delete_researcher_urlv3_rc2"
      end
      # verify the required parameter 'put_code' is set
      if @api_client.config.client_side_validation && put_code.nil?
        fail ArgumentError, "Missing the required parameter 'put_code' when calling DevelopmentMemberAPIV30Rc2Api.delete_researcher_urlv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/researcher-urls/{putCode}'.sub('{' + 'orcid' + '}', orcid.to_s).sub('{' + 'putCode' + '}', put_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#delete_researcher_urlv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an Service
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_servicev3_rc2(orcid, put_code, opts = {})
      delete_servicev3_rc2_with_http_info(orcid, put_code, opts)
      nil
    end

    # Delete an Service
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_servicev3_rc2_with_http_info(orcid, put_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.delete_servicev3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.delete_servicev3_rc2"
      end
      # verify the required parameter 'put_code' is set
      if @api_client.config.client_side_validation && put_code.nil?
        fail ArgumentError, "Missing the required parameter 'put_code' when calling DevelopmentMemberAPIV30Rc2Api.delete_servicev3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/service/{putCode}'.sub('{' + 'orcid' + '}', orcid.to_s).sub('{' + 'putCode' + '}', put_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#delete_servicev3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a Work
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_workv3_rc2(orcid, put_code, opts = {})
      delete_workv3_rc2_with_http_info(orcid, put_code, opts)
      nil
    end

    # Delete a Work
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_workv3_rc2_with_http_info(orcid, put_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.delete_workv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.delete_workv3_rc2"
      end
      # verify the required parameter 'put_code' is set
      if @api_client.config.client_side_validation && put_code.nil?
        fail ArgumentError, "Missing the required parameter 'put_code' when calling DevelopmentMemberAPIV30Rc2Api.delete_workv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/work/{putCode}'.sub('{' + 'orcid' + '}', orcid.to_s).sub('{' + 'putCode' + '}', put_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#delete_workv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edit an address
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @option opts [AddressV30Rc2] :body 
    # @return [nil]
    def edit_addressv3_rc2(orcid, put_code, opts = {})
      edit_addressv3_rc2_with_http_info(orcid, put_code, opts)
      nil
    end

    # Edit an address
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @option opts [AddressV30Rc2] :body 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def edit_addressv3_rc2_with_http_info(orcid, put_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.edit_addressv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.edit_addressv3_rc2"
      end
      # verify the required parameter 'put_code' is set
      if @api_client.config.client_side_validation && put_code.nil?
        fail ArgumentError, "Missing the required parameter 'put_code' when calling DevelopmentMemberAPIV30Rc2Api.edit_addressv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/address/{putCode}'.sub('{' + 'orcid' + '}', orcid.to_s).sub('{' + 'putCode' + '}', put_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#edit_addressv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edit external identifier
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @option opts [PersonExternalIdentifierV30Rc2] :body 
    # @return [nil]
    def edit_external_identifierv3_rc2(orcid, put_code, opts = {})
      edit_external_identifierv3_rc2_with_http_info(orcid, put_code, opts)
      nil
    end

    # Edit external identifier
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @option opts [PersonExternalIdentifierV30Rc2] :body 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def edit_external_identifierv3_rc2_with_http_info(orcid, put_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.edit_external_identifierv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.edit_external_identifierv3_rc2"
      end
      # verify the required parameter 'put_code' is set
      if @api_client.config.client_side_validation && put_code.nil?
        fail ArgumentError, "Missing the required parameter 'put_code' when calling DevelopmentMemberAPIV30Rc2Api.edit_external_identifierv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/external-identifiers/{putCode}'.sub('{' + 'orcid' + '}', orcid.to_s).sub('{' + 'putCode' + '}', put_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['orcid_auth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopmentMemberAPIV30Rc2Api#edit_external_identifierv3_rc2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edit keyword
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @option opts [KeywordV30Rc2] :body 
    # @return [nil]
    def edit_keywordv3_rc2(orcid, put_code, opts = {})
      edit_keywordv3_rc2_with_http_info(orcid, put_code, opts)
      nil
    end

    # Edit keyword
    # 
    # @param orcid 
    # @param put_code 
    # @param [Hash] opts the optional parameters
    # @option opts [KeywordV30Rc2] :body 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def edit_keywordv3_rc2_with_http_info(orcid, put_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopmentMemberAPIV30Rc2Api.edit_keywordv3_rc2 ...'
      end
      # verify the required parameter 'orcid' is set
      if @api_client.config.client_side_validation && orcid.nil?
        fail ArgumentError, "Missing the required parameter 'orcid' when calling DevelopmentMemberAPIV30Rc2Api.edit_keywordv3_rc2"
      end
      # verify the required parameter 'put_code' is set
      if @api_client.config.client_side_validation && put_code.nil?
        fail ArgumentError, "Missing the required parameter 'put_code' when calling DevelopmentMemberAPIV30Rc2Api.edit_keywordv3_rc2"
      end
      # resource path
      local_var_path = '/v3.0_rc2/{orcid}/keywords/{putCode}'.sub('{' + 'orcid' + '}', orcid.to_s).sub('{' + 'putCode' + '}', put_code.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.orcid+xml; qs=5', 'application/orcid+xml; qs=3', 'application/xml', 'application/vnd.orcid+json; qs=4', 'application/orcid+json; qs=2', 'application/json'])

[...]
